{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="twelve columns">
    <h1>{{ .Title | default .Site.Title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      {{- .Content -}}
      {{ range .Paginator.Pages }}
      <div class="post-summary">
        <div class="post-header">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <span>{{ .Date.Format "January 2, 2006" }}</span>
        </div>
      <div>
        {{ .Summary  }}
      </div>
    </div>
      {{ end }}
    <div class="pagination">
      {{ $paginator := .Paginator }}
      {{ if gt $paginator.TotalPages 1 }}
      <ul>
        {{ if $paginator.HasNext }}
          <li><a href="{{ $paginator.Next.URL }}">Older</a></li>
        {{ end }}

        {{ if $paginator.HasPrev }}
          <li><a href="{{ $paginator.Prev.URL }}">Newer</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    </div>
  </div>
</div>
{{ end }}

